---
applications:
  - name: build-learn-stub-op
    stack: cflinuxfs3
    memory: 1G
    buildpacks:
      - java_buildpack
    env:
      REDIS_URI: redis-service
    services:
      - redis-service
